server:
  port: 8080

spring:
  data:
    mongodb:
      uri: 
    redis:
      host: 
      port: 
  application:
    name: 

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG

jwt:
  secret: 
  expiration: 